name: Run Playwright Tests

on:
  push:
    branches:
      - main
  pull_request:


env:
  TEST_USER_NAME: ${{ secrets.TEST_USER_NAME }}
  TEST_USER_PASSWORD: ${{ secrets.TEST_USER_PASSWORD }}
  

jobs:
  test:
    name: Run Playwright Tests
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          
      - name: Install dependencies
        run: npm ci

      - name: Install Playwright browsers
        run: npx playwright install chromium --with-deps
#         npx playwright install chromium/firefox/webkit
        
      # - name: Run all Playwright tests
      #   run: npm test

      - name: Run first set
        run: npm run test:login

      # - name: Run second set
      #   run: npm run test:second

      - name: Upload test report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report/
